/* body {
background-color: black;
}

h1 {
  color: whitesmoke;
} */

.card {
  color: whitesmoke;
background-color: #212529 !important;
color: whitesmoke !important;
border-radius: 0px !important;
padding: 50px;
}

.form-waitlist {
display: flex;
flex-direction: column;
margin: 1px;
gap: 2px;
margin-bottom: 20px;
}

.form-title {
margin: 0;
margin-bottom: 2rem;
text-align: center;

}


.form-waitlist > label {
font-size: 15px;
padding: 10px;
margin-top: -25px;
}

.form-waitlist > input {
border: 1px solid white !important;
font-size: 15px;
padding: 5px;
}

.form-button {
width: 150px;
margin-top: 2rem;
margin-left: 52rem;

}