/* body {
background-color: black;
}

h1 {
  color: whitesmoke;
} */

.card {
  color: whitesmoke;
background-color: #212529 !important;
color: whitesmoke !important;
border-radius: 0px !important;
padding: 50px;
}


.banner {
  height: 30rem !important;
  width: 90rem;
  margin-top: -10rem !important;
  border: 20px solid #212529;
}

h1 {
animation: fadeInDown !important;
animation-duration: 3s !important;
animation-delay: 0.5s !important;
margin-top: -50px !important;
font-size: 65px !important;
font-weight: lighter !important;
font-family: "Neonderthaw", cursive !important; 

}

#booksy {
  display: flex !important;
  position: center !important;
  background-color: #212529;
  color: whitesmoke;
}

h3 {
  font-family: "Playfair", serif !important;
  font-weight: bold !important;
  animation: fadeInDown 3s;
  animation-delay: 4.2s; 
  display: flex !important;
  text-align: left !important;
}

#intro {
  display: flex !important;
  text-align: center !important;
  margin-top: 45px !important;
  margin-left: 90px !important;

}

p {
  font-family: "Sedan", serif !important;
  font-size: 18px !important;
  display: flex !important;
  text-align: left !important;
}

.form-waitlist {
display: flex;
flex-direction: column;
margin: 1px;
gap: 2px;
margin-bottom: 20px;
}

.form-title {
margin: 0;
margin-bottom: 2rem;
text-align: center;
}


.form-waitlist > label {
font-size: 15px;
padding: 10px;
margin-top: -25px;
display: flex;
text-align: left !important;
}

.form-waitlist > input {
border: 1px solid white !important;
font-size: 15px;
padding: 5px;

}

.form-button {
width: 150px;
margin-top: 2rem;
margin-left: 52rem;

}

